[diff]
[difftool "diffmerge"]
	cmd = /usr/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
[mergetool "diffmerge"]
	trustExitCode = true
	cmd = /usr/bin/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool]
	keepBackup = false
[difftool "Kaleidoscope"]
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[push]
	default = simple
[difftool]
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[alias]
	ksreview = "!f() { local SHA=${1:-HEAD}; local BRANCH=${2:-master}; if [ $SHA == $BRANCH ]; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA; }; f"
[merge]
	tool = diffmerge
[log]
	date = short
[format]
	pretty = %C(auto,yellow)%h%C(auto,cyan)%>(12,trunc)%ad %C(auto,green)%<(10,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% d
[include]
  # For username / creds / etc
  path = ~/.gitconfig.local